body {
    margin: 0;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    user-select: none; /* Impede selecionar texto */
}

#ui-container {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    pointer-events: none; /* Deixa clicar no jogo através do texto */
}

#score-board, #timer-board {
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    border-radius: 20px;
}

#timer-board {
    color: #ffcc00;
}

#game-over-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    display: none; /* Escondido por padrão */
    background: rgba(0, 0, 0, 0.9);
    padding: 40px;
    border-radius: 15px;
    border: 4px solid #ffcc00;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    z-index: 10;
}

h1 { margin-top: 0; }

button {
    background-color: #ffcc00;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 50px;
    font-weight: bold;
    transition: transform 0.2s;
}

button:hover {
    background-color: #ffdb4d;
    transform: scale(1.05);
}